:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #218114;
  --secundario: #741481;
  --gris: #757575;
}

html {
  font-size: 62.5%;
  font-family: 'Krub', sans-serif;
}

body {
  font-size: 16px;
  text-align: center;
}

.titulo {
  text-align: center;
  /*font-size: 3.8rem;
  font-family: Arial, Helvetica, sans-serif;*/
}
.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  /* margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px; */
  margin: 0 auto;
}

.nav-bg {
  background-color: var(--secundario);
}

.barra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2rem;
}

.barra a {
  padding: 1rem;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: white; /* Cambia el color del texto a blanco o el que prefieras */
}

.barra a:hover{
  background-color: var(--primario);
  color: var(--oscuro);
}

@media (min-width: 768px) {
 .barra{
  flex-direction: row;
 }
}